{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<title>ip-local_DSLAM</title>
</head>
<body>

<form method="POST" class="form-horizontal" role="form">
{% csrf_token %}

<div class="form-group">
	<div class="row">
		<label for="inputtext" class="col-sm-2 control-label">Введите i_ru  </label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="i_ru" value="{{person.i_ru}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите ip</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="ip" value="{{person.ip}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите tip</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="tip" value="{{person.tip}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите descript</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="descript" value="{{person.descript}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите prim</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="prim" value="{{person.prim}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите vlan_byfly</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="vlan_byfly" value="{{person.vlan_byfly}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите pool_iptv</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="pool_iptv" value="{{person.pool_iptv}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите pool_tr069</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="pool_tr069" value="{{person.pool_tr069}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите ims_relay</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="ims_relay" value="{{person.ims_relay}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите hw_access</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="hw_access" value="{{person.hw_access}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите ohr_dhcp</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="ohr_dhcp" value="{{person.ohr_dhcp}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите imssignaling</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="imssignaling" value="{{person.imssignaling}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите imsmedia</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="imsmedia" value="{{person.imsmedia}}" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<label for="inputEmail3" class="col-sm-2 control-label">Введите numbers</label>
		<div class="col-xs-3">
			<input class="form-control input-sm" type="text" placeholder<input type="text" name="numbers" value="{{person.numbers}}" />
		</div>
	</div>
</div>




<div class="form-group">
	<div class="col-sm-offset-2 col-xs-3">
		<input type="submit" value="Сохранить" >
	</div>
</div>
</form>

	
</body>
</html>