<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    <!-- <form method="POST" action="create/"> -->
        <!-- {% csrf_token %} -->
        <!-- <p><label>Введите ipadr</label><br><input  type="text" name="ipadr" /></p> -->
        <!-- <p><label>Введите val_tip</label><br><input  type="text" name="val_tip" /></p> -->
        <!-- <p><label>Введите va2_desc</label><br><input  type="text" name="va2_desc" /></p> -->
        <!-- <p><label>Введите va3_prim</label><br><input  type="text" name="va3_prim" /></p> -->
        <!-- <p><label>Введите va4_vlan_byfly</label><br><input  type="text" name="va4_vlan_byfly" /></p> -->
        <!-- <p><label>Введите va5_pool_iptv</label><br><input  type="text" name="va5_pool_iptv" /></p> -->
        <!-- <p><label>Введите va6_pool_tr069</label><br><input  type="text" name="va6_pool_tr069" /></p> -->
        <!-- <p><label>Введите va7_ims_relay</label><br><input  type="text" name="va7_ims_relay" /></p> -->
        <!-- <p><label>Введите va8_hwf</label><br><input  type="text" name="va8_hwf" /></p> -->
        <!-- <p><label>Введите va9_ohr</label><br><input type="text" name="va9_ohr" /></p> -->
        <!-- <p><label>Введите va10_imssignal</label><br><input type="text" name="va10_imssignal" /></p> -->
        <!-- <p><label>Введите val1_imsmedia</label><br><input type="text" name="val1_imsmedia" /></p> -->
        <!-- <p><label>Введите val2_nomers</label><br><input type="text" name="val2_nomers" /></p> -->
        <!-- <input type="submit" value="Сохранить" > -->
    <!-- </form> -->
    {% if people.count > 0 %}
    <h2>Узлы: <td><a href="edit/{{person.id}}">Брагин</a></td> <td><a href="edit/{{person.id}}">Буда</a></td> </h2>
    <table>
        <thead><th>Id</th>
		<th>ipadr</th>
		<th>val_tip</th>
		<th>va2_desc</th>
		<th>va3_prim</th>
		<th>va4_vlan_byfly</th>
		<th>va5_pool_iptv</th>
		<th>va6_pool_tr069</th>
		<th>va7_ims_relay</th>
		<th>va8_hwf</th>
		<th>va9_ohr</th>
		<th>va10_imssignal</th>
		<th>val1_imsmedia</th>
		<th>val2_nomers</th>
		<th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.ipadr}}</td>
            <td>{{ person.val_tip}}</td>
            <td>{{ person.va2_desc}}</td>
            <td>{{ person.va3_prim}}</td>
            <td>{{ person.va4_vlan_byfly}}</td>
            <td>{{ person.va5_pool_iptv}}</td>
            <td>{{ person.va6_pool_tr069}}</td>
            <td>{{ person.va7_ims_relay}}</td>
            <td>{{ person.va8_hwf}}</td>
            <td>{{ person.va9_ohr }}</td>
            <td>{{ person.va10_imssignal }}</td>
            <td>{{ person.val1_imsmedia }}</td>
            <td>{{ person.val2_nomers }}</td>
            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>